{% extends "base.html" %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->

    <title>MovieLife</title>
</head>

<body>
<!-- <body style="background-color:black;"> -->
    <!--NavBar Starts-->
    <!-- <nav style="background-color:rgb(26,26,26);" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">iMovieLife</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about.html">WatchList</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Topics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">WebSeries</a>
                        <a class="dropdown-item" href="#">TV shows</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Contribution zone</a>
                        <a class="dropdown-item" href="#">Help Center</a>
                    </div>
                <li class="nav-item">
                    <a class="nav-link" href="/contact.html">Contact Us</a>
                </li>


                  </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>   
            </ul>
            <form action="{% url 'searchbar' %}" method="get" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" id="search" placeholder="Search..." name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="search_button" type="submit">Search</button>
            </form>
        </div>
    </nav> -->
    <!--Navbar ends-->
    {% block content %}
    <!--Featured Today Starts-->
    <h1 class="text-warning my-2 ml-4">Featured today</h1>

    <!--row1 starts-->
    <div class="container my-4">
        <div class="row row-cols-1 row-cols-md-4 g-4 ml-2 mr-2" id="input">

            <!-- first card -->
            <div class="col mb-3">
                <div class="card h-100" style="background-color:rgb(26,26,26);">
                    <img src="https://mdbootstrap.com/img/new/standard/city/041.jpg" class="card-img-top" alt="..." />
                    <div class="card-body"> 
                        <h5 class="card-title text-center" style="color:white;">Card title</h5>
                        <p class="card-text" style="color:white;">
                            Overview
                        </p>
                        <p class="card-text" style="color:white;">
                            Release Date:
                        </p>
                        <p class="card-text" style="color:white;">
                            Popularity
                        </p>
                    </div>
                </div>
            </div>


            
            <!-- <div class="col">
                <div class="card h-100" style="background-color:rgb(26,26,26);">
                    <img src="https://mdbootstrap.com/img/new/standard/city/042.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title" style="color:white;">Card title</h5>
                        <p class="card-text" style="color:white;">This is a short card.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="background-color:rgb(26,26,26);">
                    <img src="https://mdbootstrap.com/img/new/standard/city/043.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title" style="color:white;">Card title</h5>
                        <p class="card-text" style="color:white;">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card h-100" style="background-color:rgb(26,26,26);">
                    <img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title" style="color:white;">Card title</h5>
                        <p class="card-text" style="color:white;">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card h-100" style="background-color:rgb(26,26,26);">
                    <img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title" style="color:white;">Card title</h5>
                        <p class="card-text" style="color:white;">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
        </div>
    
    <!--row1 ends-->

    <!--row2  starts-->
    <!-- <div class="container-fluid m-4" > 
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100" style="background-color:rgb(26,26,26);">
                    <img src="https://mdbootstrap.com/img/new/standard/city/041.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title" style="color:white;">Card title</h5>
                        <p class="card-text" style="color:white;">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.This is a longer card with
                            supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.This is a longer card with
                            supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.This is a longer card with
                            supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="background-color:rgb(26,26,26);">
                    <img src="https://mdbootstrap.com/img/new/standard/city/042.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title" style="color:white;">Card title</h5>
                        <p class="card-text" style="color:white;">This is a short card.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="background-color:rgb(26,26,26);">
                    <img src="https://mdbootstrap.com/img/new/standard/city/043.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title" style="color:white;">Card title</h5>
                        <p class="card-text" style="color:white;">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="background-color:rgb(26,26,26);">
                    <img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title" style="color:white;">Card title</h5>
                        <p class="card-text" style="color:white;">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    

    <!--row2  ends-->
    <!--footer starts-->


    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <div class="text-center">
                <button type="button" class="btn btn-primary">Get iWorldMovie App</button>
            </div>
        </div>
    </footer>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script> -->

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
    <script src="{% static 'js/insert_loop.js' %}"></script>
    <script src="{% static 'js/search_data.js' %}"></script>
{% endblock %}
</body>

</html>